@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Montserrat+Alternates:wght@400;500;600;700&family=Montserrat:wght@800&family=Playfair+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 767px) {
    background-position: center;
  }
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat-ExtraBold";
  text-transform: uppercase;
  font-size: 4vh;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#header {
  background-color: #c87e6b;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#menu a:hover {
  text-decoration: none;
  color: #fff;
}

#btn-mobile {
  display: none;
}

@media screen and (max-width: 920px) {
  #menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #c87e6b;
    color: #fff;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    display: block;
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-mobile {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: #fff;
  }

  #btn-mobile:hover {
    color: #fff;
  }

  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

section#topo {
  width: 100%;
  height: 100vh;
  #arranjo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alinha-texto {
    text-align: center;
    height: 70vh;
  }
  h2 {
    font-family: "PlayfairDisplay-Bold";
    color: #484a4b;
    font-size: 8vh;
  }
  .special {
    font-family: "Montserrat";
    color: #765a33;
    font-size: 3vh;
  }
  .lorem {
    font-family: "Josefin Slab";
    color: #836b46;
    text-align: justify;
    font-size: 2.7vh;
  }
  .botoes {
    display: flex;
    justify-content: space-evenly;
    font-family: "MontserratAlternates-Bold";
    font-size: 2vh;
  }
  .btn {
    border-radius: 15px;
    background-color: #dbd7ce;
    color: #484a4b;
    &:hover {
      background-color: #787878;
      color: #fff;
    }
  }
  .img-fluid {
    width: 100%;
    height: 100vh;
  }
  @media screen and (max-width: 920px) {
    height: 84vh;
    .img-fluid {
      height: auto;
    }
    .lorem {
      margin: 2vh;
    }
  }

  @media screen and (max-width: 767px) {
    height: 90vh;
    .alinha-texto {
      height: 42vh;
    }
    h2 {
      font-size: 6vh;
    }
    .lorem {
      margin: 0;
      font-size: 2.2vh;
    }
    .img-fluid {
      height: 42vh;
    }
  }
}

section.numeros {
  background-color: #6b502c;
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 20vh;
  p {
    margin: 0;
  }
  .num {
    font-family: "PlayfairDisplay";
    font-size: 4vh;
    text-align: center;
    color: #ffffff;
  }
  .descricao {
    font-family: "MontserratAlternates-Medium";
    font-size: 3vh;
    text-align: center;
    color: #ffffff;
  }

  @media screen and (max-width: 912px) {
    bottom: 12vh;
  }
  @media screen and (max-width: 767px) {
    background-color: #6b502c;
    height: 70vh;
    bottom: 0;
  }
}

section#carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  #title {
    text-align: center;
  }
  .products {
    overflow-y: hidden;
    font-family: "Playfair Display";
    font-size: 6vh;
    color: #484a4b;
  }
  .dolor {
    font-family: "MontserratAlternates-Medium";
    font-size: 5vh;
    color: #ad9d84;
  }
  .heart {
    float: right;
  }
  .card-title {
    overflow-y: hidden;
    font-family: "Playfair Display";
    font-size: 3vh;
    color: #484a4b;
  }
  .card-text {
    font-family: "Montserrat Alternates";
    font-size: 1.8vh;
    color: #765a33;
    text-align: justify;
  }
  .btn-card {
    cursor: pointer;
    border-radius: 20px;
    width: 60%;
    height: 4vh;
    font-size: 2vh;
    font-family: "Montserrat";
    border: none;
    background-color: #454545;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #454545;
    }
  }

  @media screen and (max-width: 912px) {
    .card-title {
      font-size: 2vh;
    }
    .card-text {
      font-size: 1.5vh;
    }
    .btn-card {
      width: 100%;
      height: 8vh;
    }
  }
  @media screen and (max-width: 767px) {
    height: 300vh;
    align-items: center;
    .card-title {
      font-size: 3vh;
    }
    .card-text {
      font-size: inherit;
    }
    .btn-card {
      width: 60%;
      height: 4vh;
    }
  }
  @media screen and (width: 540px) {
    height: 400vh;
  }
  @media screen and (max-width: 375px) {
    height: 360vh;
  }
  // .setas {
  //   text-align: center;
  // }
}

section.video {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  h4 {
    font-family: "PlayfairDisplay-Bold";
    color: #484a4b;
    font-size: 8vh;
    text-align: center;
  }
  p {
    font-family: "MontserratAlternates-Medium";
    font-size: 5vh;
    color: #ad9d84;
    text-align: center;
  }
  #div-video {
    max-width: 100%;
  }

  @media screen and (max-width: 912px) {
    height: 35vh;
    // align-items: baseline;
    h4 {
      font-size: 3vh;
    }
    p {
      font-size: 2vh;
    }
  }
  @media screen and (max-width: 767px) {
    height: 50vh;
    h4 {
      font-size: 6vh;
    }
    p {
      font-size: inherit;
    }
  }
  @media screen and (width: 375px) {
    height: 60vh;
  }
}

section.texto-banner {
  width: 100%;
  height: 40vh;
  background-image: url("/images/img-sale-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  .offer {
    width: 45%;
    text-align: center;
  }
  h4 {
    font-family: "PlayfairDisplay-Bold";
    color: #484a4b;
    font-size: 8vh;
    text-align: justify;
  }
  p {
    font-family: "MontserratAlternates-Medium";
    color: #fff;
    text-align: justify;
  }

  @media screen and (max-width: 912px) {
    background-position: center;
  }
  @media screen and (max-width: 767px) {
    background-image: none;
    height: 20vh;
    display: flex;
    align-items: baseline;
    .offer {
      width: 100%;
    }
    h4 {
      font-size: 4vh;
      text-align: center;
    }
    .lorem {
      text-align: center;
    }
  }
}

section.texto-descritivo {
  height: 70vh;
  display: flex;
  align-items: center;
  .img-fluid {
    height: 50vh;
  }
  h4 {
    font-family: "PlayfairDisplay-Bold";
    color: #484a4b;
    font-size: 8vh;
    text-align: center;
  }
  p {
    font-family: "MontserratAlternates-Medium";
    font-size: 4vh;
    color: #ad9d84;
    text-align: justify;
  }
  .btn-card {
    cursor: pointer;
    border-radius: 20px;
    width: 60%;
    height: 4vh;
    font-size: 2vh;
    font-family: "Montserrat";
    border: none;
    background-color: #454545;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #454545;
    }
  }

  @media screen and (max-width: 912px) {
    height: 46vh;
    h4 {
      font-size: 5vh;
    }
    p {
      font-size: 2vh;
    }
    .img-fluid {
      height: auto;
    }
  }
  @media screen and (max-width: 767px) {
    height: 115vh;
    .img-fluid {
      height: 50vh;
    }
    h4 {
      font-size: 8vh;
    }
    p {
      font-size: 3vh;
    }
    .btn-card {
      margin: auto;
      display: block;
    }
    #mobile {
      margin-bottom: 2vh;
    }
  }
}

section#contato {
  height: 60vh;
  display: flex;
  align-items: center;
  h4 {
    font-family: "PlayfairDisplay-Bold";
    color: #484a4b;
    font-size: 8vh;
    text-align: center;
  }
  p {
    font-family: "Josefin Slab";
    color: #836b46;
    font-size: 2.7vh;
  }
  .btn-form {
    cursor: pointer;
    border-radius: 20px;
    width: 40%;
    height: 4vh;
    font-size: 2vh;
    font-family: "Montserrat";
    border: none;
    background-color: #c87e6b;
    color: #fff;
    margin: 0 auto;
    display: block;
    &:hover {
      background-color: #fff;
      color: #c87e6b;
    }
  }

  @media screen and (max-width: 767px) {
    height: 70vh;
  }
  @media screen and (max-width: 300px) {
    .btn-form {
      font-size: 1.5vh;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  background-color: #424242;
  color: #fff;
  height: 40vh;
  #div-centro {
    display: flex;
    align-items: center;
  }
  h4 {
    font-family: "Montserrat Alternates";
    font-size: 3vh;
    font-weight: bolder;
  }
  p {
    font-family: "Montserrat Alternates";
    font-size: 2vh;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  @media screen and (max-width: 912px) {
    .img-social {
      width: 27%;
    }
  }
  @media screen and (max-width: 767px) {
    height: 105vh;
    #div-centro {
      display: flex;
      justify-content: center;
      padding-bottom: 2vh;
    }
    #div-col {
      height: 30vh;
      text-align: center;
    }
    .img-social {
      width: inherit;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 83%;
  }
}
